<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Snake Game</h1>
        <form method="POST" action="/sign-in">
            <div>
                <lable><h3>To begin, please sign-up or login</h3></lable>
                <select name="user[selection]">
                    <option value="signup">Sign-up</option>
                    <option value="login">Login</option>
                </select>
                <br><br>
                <input type="submit" value="Enter">
            </div>
        </form>
    </body>
</html>