<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up</title>
    </head>
    <body>
        <h1>Sign up</h1>
        <form method="POST" action="/create-account">
            <div>
                <lable>Username:</lable>
                <input name="user[username]" type="text"
            </div>
            <br><br>
            <input type="submit" value="Create Account">
        </form>
    </body>
</html>